.landingHeader {
  height: 15vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landingHeader__img {
  height: 100%;
  padding: 1rem;
}

.landing {
  padding: 2rem;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.landing__body {
  background: url(../img/background.png) no-repeat;
  background-position: center;
  background-size: cover;
}
.landing__logo {
  height: 250px;
}
.landing__tagline {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #0058D2;
}
.landing__header {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: #0058D2;
}
.landing__left {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.landing__right {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing__grid {
  grid-column: 2/3;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.landing__rightCol1 {
  grid-gap: 1rem;
  grid-column: 1/2;
  grid-row: 2/6;
  display: flex;
  flex-direction: column;
}
.landing__rightCol2 {
  grid-gap: 1rem;
  grid-column: 2/3;
  grid-row: 1/7;
  display: flex;
  flex-direction: column;
}
.landing__rightCol3 {
  grid-gap: 1rem;
  grid-column: 3/4;
  grid-row: 2/6;
  display: flex;
  flex-direction: column;
}
.landing__navSection {
  min-height: 180px;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing__clothingSection {
  min-width: 150px;
}
.landing__clothingSection:active {
  transform: scale(0.9);
}
.landing__jackets {
  background: url("../img/jacket.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__dresses {
  background: url("../img/dresses.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__shoes {
  background: url("../img/shoes.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__shopAll {
  margin: 0 auto;
  width: 180px;
  height: 180px;
  background: #0058D2;
  border: none;
  border-radius: 50%;
  background-position: bottom;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__shopAll:hover {
  background: #FFCB2F;
  color: #FF4022;
  border: 4px solid #FF4022;
  transition: 0.2s;
}
.landing__shopAll:active {
  transform: scale(0.9);
}
.landing__tshirts {
  background: url("../img/tshirt.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__hats {
  background: url("../img/hat.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__jeans {
  background: url("../img/jeans.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__clothingSection:hover {
  background: #FFCB2F;
  color: #FF4022;
  font-size: 2rem;
  transition: 0.2s;
}
.landing__signUp {
  cursor: pointer;
  background: #0058D2;
  border: 4px solid #0058D2;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: "Libre Franklin", sans-serif;
  color: white;
  padding: 0.7rem 1rem 0.7rem 1rem;
  transition: 0.1s;
  margin-right: 1rem;
  margin-top: 1rem;
}
.landing__signUp:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.footer {
  min-height: 20vh;
  width: 100vw;
  background: #FFCB2F;
  display: flex;
  overflow-x: hidden;
}
.footer-left {
  min-height: 20vh;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.footer-contents {
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 3rem 3rem;
  height: fit-content;
}
.footer-contents__logo {
  height: 10rem;
}
.footer-contents__copyright {
  color: #FF4022;
  font-size: 2rem;
  font-family: "Libre Franklin", sans-serif;
}
.footer-right {
  height: 100%;
  width: 50%;
}
.footer-right__ul {
  list-style-type: none;
  text-align: right;
  margin: 3rem 4rem 0rem 0rem;
}
.footer-right__li {
  padding: 0rem 1rem 0rem 0rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  color: #FF4022;
  font-weight: 600;
  margin: 1.5rem;
}
.footer-right__li:hover {
  font-weight: 900;
  border-right: 5px solid #FF4022;
}
.footer-prompt {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 4rem 3rem 0rem;
}
.footer-prompt__h5 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #FF4022;
  font-weight: 600;
  cursor: pointer;
}
.footer-prompt__h5:hover {
  font-weight: 700;
}
.footer-prompt__arrow {
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 22px solid #FF4022;
  cursor: pointer;
}

.landingHeader {
  height: 15vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landingHeader__img {
  height: 100%;
  padding: 1rem;
}

.landing {
  padding: 2rem;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.landing__body {
  background: url(../img/background.png) no-repeat;
  background-position: center;
  background-size: cover;
}
.landing__logo {
  height: 250px;
}
.landing__tagline {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #0058D2;
}
.landing__header {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: #0058D2;
}
.landing__left {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.landing__right {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing__grid {
  grid-column: 2/3;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.landing__rightCol1 {
  grid-gap: 1rem;
  grid-column: 1/2;
  grid-row: 2/6;
  display: flex;
  flex-direction: column;
}
.landing__rightCol2 {
  grid-gap: 1rem;
  grid-column: 2/3;
  grid-row: 1/7;
  display: flex;
  flex-direction: column;
}
.landing__rightCol3 {
  grid-gap: 1rem;
  grid-column: 3/4;
  grid-row: 2/6;
  display: flex;
  flex-direction: column;
}
.landing__navSection {
  min-height: 180px;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing__clothingSection {
  min-width: 150px;
}
.landing__clothingSection:active {
  transform: scale(0.9);
}
.landing__jackets {
  background: url("../img/jacket.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__dresses {
  background: url("../img/dresses.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__shoes {
  background: url("../img/shoes.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__shopAll {
  margin: 0 auto;
  width: 180px;
  height: 180px;
  background: #0058D2;
  border: none;
  border-radius: 50%;
  background-position: bottom;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__shopAll:hover {
  background: #FFCB2F;
  color: #FF4022;
  border: 4px solid #FF4022;
  transition: 0.2s;
}
.landing__shopAll:active {
  transform: scale(0.9);
}
.landing__tshirts {
  background: url("../img/tshirt.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__hats {
  background: url("../img/hat.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__jeans {
  background: url("../img/jeans.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}
.landing__clothingSection:hover {
  background: #FFCB2F;
  color: #FF4022;
  font-size: 2rem;
  transition: 0.2s;
}
.landing__signUp {
  cursor: pointer;
  background: #0058D2;
  border: 4px solid #0058D2;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: "Libre Franklin", sans-serif;
  color: white;
  padding: 0.7rem 1rem 0.7rem 1rem;
  transition: 0.1s;
  margin-right: 1rem;
  margin-top: 1rem;
}
.landing__signUp:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.nav {
  height: 15vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logoContainer {
  height: 100%;
  padding: 1rem;
}
.nav__logo {
  height: 100%;
  padding: 1rem;
}
.nav__search {
  background: none;
  outline: none;
  border: none;
  padding: 1rem;
  caret-color: #0058D2;
}
.nav__search::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0058D2;
  opacity: 1;
  /* Firefox */
}
.nav__search:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0058D2;
}
.nav__search::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0058D2;
}
.nav__searchBtn {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-family: "Libre Franklin", sans-serif;
  color: #0058D2;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  transition: 0.1s;
}
.nav__searchBtn:hover {
  transform: scale(1.1);
  transition: 0.1s;
}
.nav__searchBtn:active {
  transform: scale(1);
  transition: 0.1s;
}
.nav__searchContainer {
  border-bottom: 4px solid #0058D2;
}
.nav__ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__li {
  list-style-type: none;
  font-size: 1.7rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  color: #0058D2;
  padding: 1rem;
  margin: 0rem;
}
.nav__li:hover {
  font-weight: 800;
}
.nav__link {
  color: #0058D2;
}
.nav__link::before {
  display: block;
  content: attr(title);
  font-weight: 800;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}
.nav__logIn {
  cursor: pointer;
  background: none;
  border: 4px solid #0058D2;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: "Libre Franklin", sans-serif;
  color: #0058D2;
  width: 100px;
  padding: 0.7rem 1rem 0.7rem 1rem;
  transition: 0.1s;
}
.nav__logIn:hover {
  transform: scale(1.1);
  transition: 0.1s;
}
.nav__logIn:active {
  transform: scale(1);
  transition: 0.1s;
}
.nav__signUp {
  cursor: pointer;
  background: #0058D2;
  border: 4px solid #0058D2;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: "Libre Franklin", sans-serif;
  color: white;
  width: 100px;
  padding: 0.7rem 1rem 0.7rem 1rem;
  transition: 0.1s;
  margin-right: 1rem;
}
.nav__signUp:hover {
  transform: scale(1.1);
  transition: 0.1s;
}
.nav__signUp:active {
  transform: scale(1);
  transition: 0.1s;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}
.signup__container {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup__header {
  font-family: "Libre Franklin", sans-serif;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  padding: 3rem;
}
.signup__formContainer {
  display: flex;
}
.signup__form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-left: 4rem;
}
.signup__input {
  background: white;
  border: 4px solid black;
  padding: 1rem;
  min-width: 350px;
}
.signup__label {
  font-size: 1.7rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  margin-top: 1rem;
  padding-bottom: 0.25rem;
}
.signup__frame {
  padding: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
}
.signup__frameImg {
  position: absolute;
  top: 0%;
  max-width: 350px;
}
.signup__imageUploadBtn {
  cursor: pointer;
  background: none;
  outline: none;
  border: 4px solid black;
  padding: 2rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  max-width: 170px;
  z-index: 1;
}
.signup__imageUploadBtn:hover {
  color: #0058D2;
  border: 4px solid #0058D2;
}
.signup__buttons {
  display: flex;
  justify-content: space-between;
}
.signup__btn {
  border: 4px solid black;
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
  cursor: pointer;
  min-width: 160px;
  margin-top: 1.5rem;
  transition: 0.1s;
}
.signup__btn:hover {
  cursor: pointer;
}
.signup__btn:hover {
  transform: scale(1.1);
  transition: 0.1s;
}
.signup__home {
  background: none;
}
.signup__confirm {
  background: #0058D2;
  color: white;
}

.shop-container {
  height: 85vh;
  width: 100vw;
  display: flex;
}

.shop {
  min-height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
}

.shop-left {
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding-top: 8rem;
}
.shop-left__btn {
  border: 4px solid black;
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  background-color: #FFCB2F;
  width: 80%;
  border-left: none;
  padding: 1.5rem;
  text-align: right;
  transition-duration: 0.2s;
}
.shop-left__btn:hover {
  cursor: pointer;
}
.shop-left__btn:hover {
  width: 120%;
  transition-duration: 0.2s;
}
.shop-left__btn--blue {
  background-color: #0058D2;
  color: #FFCB2F;
  width: 100%;
}

.shop-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 15rem;
  padding-top: 8rem;
}
.shop-right__btn {
  border: 4px solid black;
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  background-color: #FFCB2F;
  width: 80%;
  border-right: none;
  padding: 1.5rem;
  transition-duration: 0.2s;
}
.shop-right__btn:hover {
  cursor: pointer;
}
.shop-right__btn:hover {
  width: 120%;
  transition-duration: 0.2s;
}
.shop-right__btn--blue {
  background-color: #0058D2;
  color: #FFCB2F;
  width: 100%;
}

.shop-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 4rem 0 4rem;
}

.shop-tools {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-tools__list-btn {
  border: 4px solid black;
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
  margin-left: 2rem;
  height: 4rem;
  width: 12rem;
  background-color: #FFCB2F;
}
.shop-tools__list-btn:hover {
  cursor: pointer;
}
.shop-tools__list-btn:hover {
  transform: scale(1.1);
}
.shop-tools__sort-btn {
  border: 4px solid black;
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
  margin-right: 2rem;
  height: 4rem;
  width: fit-content;
  background-color: #FFCB2F;
}
.shop-tools__sort-btn:hover {
  cursor: pointer;
}
.shop-tools__sort-btn:hover {
  transform: scale(1.1);
}
.shop-tools__p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
  padding-right: 2rem;
}

.card__container {
  min-height: 85vh;
  display: flex;
  flex-flow: row wrap;
}

.card {
  padding: 4rem 0rem 2rem 2rem;
  width: 300px;
  border: none;
}
.card__imgContainer {
  height: 350px;
  background: url(../img/jeans.png) no-repeat;
  background-size: cover;
  background-position: center;
  border: 4px solid black;
}
.card__title {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  padding: 0.25rem;
}
.card__price {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.7rem;
  font-weight: 900;
  padding: 0.25rem 0.25rem 1.5rem 0.25rem;
}
.card__tags {
  display: flex;
}
.card__tag {
  margin-right: 0.25rem;
  background-color: #FFCB2F;
  width: max-content;
  font-size: 1.3rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  font-style: italic;
  border: 1px solid black;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 20px;
  text-transform: uppercase;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-container {
  position: absolute;
  display: flex;
  align-items: flex-end;
  height: 85vh;
  width: 30vw;
  transform: translateX(-30vw);
  z-index: 10;
  transition-duration: 0.5s;
}

.categories {
  height: 100%;
  width: 30vw;
  background: #0058D2;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem 4rem 2rem;
}
.categories-header {
  display: flex;
  justify-content: space-between;
}
.categories-header__heading {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 4.8rem;
  color: #FFCB2F;
}
.categories-menu {
  display: flex;
}
.categories-menu__ul {
  list-style: none;
  font-size: 1.6rem;
  color: #FFCB2F;
  padding: 4rem 0 0 0;
}
.categories-menu__li {
  border: 3px #FFCB2F solid;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contact {
  min-height: 90vh;
  width: auto;
  display: flex;
}
.contact-left {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25rem;
}
.contact-left__h1 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 6.5rem;
  padding-bottom: 3rem;
}
.contact-right {
  width: 35%;
  background: url(../img/contact-pic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 60rem;
}
.contact-form__name {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 4px solid black;
}
.contact-form__email {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 4px solid black;
}
.contact-form__msg {
  padding: 1rem;
  border: 4px solid black;
}
.contact-submit {
  border: 4px solid black;
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
  background: #FFCB2F;
  width: 10rem;
  margin-top: 3rem;
}
.contact-submit:hover {
  cursor: pointer;
}
.contact-submit:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.1s;
}
.contact-submit:active {
  transform: scale(1);
  transition: 0.1s;
}

input::placeholder, input:focus {
  font-family: "Libre Franklin", sans-serif;
}

textarea::placeholder, textarea:focus, textarea::after {
  font-family: "Libre Franklin", sans-serif;
}

.about {
  width: 100%;
}
.about__hero {
  width: 60%;
  margin: 5rem auto 0 auto;
}
.about__heroContent {
  display: flex;
  padding-bottom: 8rem;
}
.about__heroImg {
  max-height: 35rem;
}
.about__heroHeader {
  font-family: "Libre Franklin", sans-serif;
  font-size: 8rem;
  font-weight: 900;
  color: #0058D2;
}
.about__heroDescription {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #0058D2;
  background: #FFCB2F;
  padding: 0.5rem;
  left: -15%;
}
.about__heroText {
  position: relative;
  padding: 2rem;
}
.about__heroBtnContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}
.about__heroBtn {
  top: 100%;
  right: 10%;
  background: #0058D2;
  border: none;
  outline: none;
  color: white;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.1s;
}
.about__heroBtn:hover {
  transform: scale(1.1);
  transition: 0.1s;
}
.about__heroBtn:active {
  transform: scale(1);
  transition: 0.1s;
}
.about__valuesContainer {
  padding-top: 8rem;
  position: relative;
  background: #FFCB2F;
}
.about__values {
  width: 60%;
  margin: 0 auto;
}
.about___valuesHeader {
  font-family: "Libre Franklin", sans-serif;
  font-size: 4rem;
  color: #0058D2;
  font-weight: 900;
}
.about__valuesHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__valuesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about__valuesGridSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
.about__valuesImg {
  max-width: 200px;
  padding: 0.5rem;
}
.about__valuesTitle {
  padding: 1rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: #0058D2;
}
.about__valuesPara {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #0058D2;
  padding: 1rem;
}

.account {
  width: 80%;
  margin: 0 auto;
}
.account__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
}
.account__imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.account__img {
  width: 100px;
  height: 100px;
  background: url(../img/jacket.png) no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid black;
  padding: 1rem;
}
.account__name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.account__username {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}
.account__editBtn {
  font-size: 2rem;
}
.account__editDropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
.account__editDropdownText {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}
.account__editDropdownArrow {
  font-size: 1.5rem;
  padding-left: 0.5rem;
}
.account__listingsAdd {
  display: flex;
}
.account__listingsAddBtn {
  border: 4px solid black;
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
  background: #FFCB2F;
}
.account__listingsAddBtn:hover {
  cursor: pointer;
}
.account__listingsTitle {
  font-size: 3rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 900;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}