.cart-header{
    padding: 2rem;
    display: flex;
    &__h5{
        font-size: 3rem;
        font-family: $primaryFont;
        align-self: center;
    }
}

.cart-btns{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;

    &__purchase{
        @include btn;
        background: $yellow;
        margin-left: 1rem;
        transition: 0.1s;
    }
    &__purchase:hover{
        transform: scale(1.1);
        transition: 0.1s
    }
    &__purchase:active{
        transform: scale(1);
        transition: 0.1s;
    }
    &__close{
        @include btn;
        transition: 0.1s;
    }
    &__close:hover{
        transform: scale(1.1);
        transition: 0.1s
    }
    &__close:active{
        transform: scale(1);
        transition: 0.1s;
    }
}