@import 'var';
@import 'mixins';

.viewComments{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1.7rem;
    background: $yellow;
    border-top-right-radius: 20px;
    font-family: $primaryFont;
    z-index: 0;
    text-align: center;
    position: absolute;
    transition: 0.2s;
}
.comments{
    background: $yellow;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 99%;
    transition: 0.2s;

    &__downArrow{
        font-size: 2rem;
        padding: 1rem;
    }
    &__upArrow{
        font-size: 2rem;
        padding: 1rem;
    }
    &__comment{
        padding: 1rem;
    }
    &__container{
        flex: 1;
        display: flex;
        align-items: flex-end;
        overflow-y: scroll;
    }
    &__display{
        padding: 2rem;
        height: 100%;
        
        // overflow: scroll;
    }
    &__top{
        background: white;
        padding: 1rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 2px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &__bottom{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }
    &__inputContainer{
        padding: 2rem;
        display: flex;
        z-index: 3;
    }
    &__input{
        width: 90%;
        height: 50px;
        padding: 1rem;
        outline: none;
        margin: 0rem 1rem;
        font-size: 1.5rem;
        font-family: $primaryFont;
    }
    &__submit{
        padding: 0rem 0.5rem;
        width: 10%;
        background: $blue;
        color: white;
        font-family: $primaryFont;
        font-weight: 800;
        font-size: 1.7rem;
        outline: none;
        border: none;
        transition: 0.1s;
    }
    &__submit:hover{
        transform: scale(1.1);
        transition: 0.1s;
    }
    &__submit:active{
        transform: scale(1);
        transition: 0.1s;
    }
    &__btn{
        background: $yellow;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
}

// POSITION CLASSES FOR JAVASCRIPT SWITCHING

.bottomViewBtn{
    bottom: 0%;
    transition: 0.2s;
}
.topViewBtn{
    top: 0%;
    transition: 0.2s;
}