@import 'var';
@import 'mixins';



.footer{
    min-height: 20vh;
    width: 100vw;
    background: $yellow;
    display: flex;
    overflow-x: hidden;
    

    &__left{
        min-height: 20vh;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;

        &__contents{
            display: flex;
            flex-direction: column;
            margin: 0rem 0rem 3rem 3rem;
            height: fit-content;


            
            &-logo{
                height: 10rem;
            }

            &-copyright{
                color: $red;
                font-size: 2rem;
                font-family: $primaryFont;
            } 
        }


    }


    &__right{
        height: 100%;
        width: 50%;

        &-ul{
            list-style-type: none;
            text-align: right;
            margin: 3rem 4rem 0rem 0rem;

        }

        &-li{
            padding: 0rem 1rem 0rem 0rem;
            font-family: $primaryFont;
            font-size: 2rem;
            color: $red;
            font-weight: 600;
            margin: 1.5rem;

        }

        &-li:hover{
            font-weight: 900;
            border-right: 5px solid $red;
        }

        &__prompt{
            display: flex;
            justify-content: flex-end;
            padding: 2rem 4rem 3rem 0rem;

            &-h5{

                font-family: $primaryFont;
                font-size: 2rem;
                padding-right: 1.5rem;
                color: $red;
                font-weight: 600;
                cursor: pointer;

            }

            &-h5:hover{
                font-weight: 700;

            }


            &-arrow{
                width: 0;
                height: 0;
                border-left: 14px solid transparent;
                border-right: 14px solid transparent;
                border-bottom: 22px solid $red;
                cursor: pointer;

            }


        }

        

    }

}
