@import 'var';
@import 'mixins';

.landingHeader{
    height: 15vh;
    width: auto;
    background: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img{
        height: 100%;
        padding: 1rem;
    }
}

.landing{
    padding: 2rem;
    height: 85vh;
    

    &__headings{
        font-family: $primaryFont;
    }
    &__navSection{
        border: 4px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__nav{
        height: 100%;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        position: relative;
        
    }
    &__navCol1{
        grid-gap: 1rem;
        grid-row: 1/2;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        font-family: $primaryFont;
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: capitalize;
    }
    &__navCol2{
        grid-gap: 1rem;
        grid-column: 2/3;
        display: grid;
        grid-template-rows: repeat(2, 1fr) ;
    }
    &__navCol3{
        grid-gap: 1rem;
        grid-column: 3/4;
        display: grid;
        grid-template-rows: repeat(3, 1fr) ;
    }
    &__navCol4{
        grid-gap: 1rem;
        grid-column: 4/5;
        display: grid;
        grid-template-rows: repeat(2, 1fr) ;
    }

    // INDIVIDUAL SECTIONS

    &__logIn{
        background: $yellow;
        color: $red;
        transition: 0.2s;
    }
    &__logIn:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }
    &__signUp{
        background: $red;
        color: $yellow;
        transition: 0.2s;
    }
    &__signUp:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }
    &__aboutUs{
        background: $pink;
        color: $blue;
        transition: 0.2s;
    }
    &__aboutUs:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }
    &__contact{
        background: $blue;
        color: $pink;
        transition: 0.2s;
    }
    &__contact:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }

    &__clothingSection:hover{
        background: $yellow;
        color: $red;
        transition: 0.2s;
    }
    &__jackets{
        background: url('../img/jacket.png') no-repeat;
        background-position: center;
        background-size: cover;
        font-family: $primaryFont;
        font-size: 1rem;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        transition: 0.2s;
    }
    &__dresses{
        background: url('../img/dresses.png') no-repeat;
        background-position: center;
        background-size: cover;
        font-family: $primaryFont;
        font-size: 1rem;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        transition: 0.2s;
    }
    &__shoes{
        background: url('../img/shoes.png') no-repeat;
        background-position: center;
        background-size: cover;
        font-family: $primaryFont;
        font-size: 1rem;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        transition: 0.2s;
    }
    &__sweaters{
        background: url('../img/sweater.png') no-repeat;
        background-position: bottom;
        background-size: cover;
        font-family: $primaryFont;
        font-size: 1rem;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        transition: 0.2s;
    }
    &__tshirts{
        background: url('../img/tshirt.png') no-repeat;
        background-position: center;
        background-size: cover;
        font-family: $primaryFont;
        font-size: 1rem;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        transition: 0.2s;
    }
    &__hats{
        background: url('../img/hat.png') no-repeat;
        background-position: center;
        background-size: cover;
        font-family: $primaryFont;
        font-size: 1rem;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        transition: 0.2s;
    }
    &__jeans{
        background: url('../img/jeans.png') no-repeat;
        background-position: center;
        background-size: cover;
        font-family: $primaryFont;
        font-size: 1rem;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        transition: 0.2s;
    }
    &__shopAll{
        position: absolute;
        top: 50%;
        right: 5%;
        padding: 2rem 3rem 2rem 3rem;
        background: black;
        transition: 0.2s;
    }
    &__shopAll:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }
    &__shopAllBtn{
        font-family: $primaryFont;
        font-weight: 900;
        font-size: 1.5rem;
        color: white;
        text-transform: capitalize;
    }
}