@import 'var';
@import 'mixins';

.listItemBody{
    padding: 0rem 4rem 0rem 4rem;
}

.listItem{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__title{
        font-size: 4rem;
        font-family: $primaryFont;
        font-weight: 900;
        color: black;
        padding: 1rem;
    }
    &__label{
        font-family: $primaryFont;
        font-size: 1.5rem;
        font-weight: 900;
    }
    &__input{
        @include input;
        margin-bottom: 2rem;
    }
    &__input::placeholder{
        font-size: 1.4rem;
    }
    //GRID LEFT
    &__left{
        grid-column: 1/2;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        padding: 1rem;
    }
    &__left1{
        grid-row: 1/2;
    }
    &__left2{
        grid-row: 2/5;
    }
    &__left3{
        grid-row: 5/6;
    }
    &__description{
        height: 80%;
    }

    //LIST ITEM RIGHT
    &__right{
        padding: 1rem;
        grid-column: 2/3;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
    }

    &__footer{
        padding: 0rem 5rem 4rem 5rem;
    }
    &__submit{
        @include btn;
        background: $yellow;
    }
    &__close{
        @include btn;
    }
    
}


@media (max-width: $mobile-max){
    .listItemBody{
        padding: 0;
        padding: 0rem 1.5rem 0rem 1.5rem;
    }
    .listItem__footer{
        padding: 0;
        padding: 0rem 2rem 2rem 0rem;
    }
}