.modal-body{
    display: flex;
}

.modal-left{
    height: 100%;
    width: 50%;
    margin: 3rem 2.5rem 3rem 5rem;
}

.modal-right{
    height: 100%;
    width: 50%;
    margin: 3rem 5rem 3rem 2.5rem;

}