@import 'var';
@import 'mixins';

.account{
    width: 80%;
    margin: 0 auto;

    // IF USER IS NOT LOGGED IN

    &__loginCheck{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 85vh;
    }
    &__loginCheckTitle{
        font-family: $primaryFont;
        font-size: 5rem;
        font-weight: 900;
        padding: 1rem;
    }
    &__loginCheckText{
        font-family: $primaryFont;
        font-size: 2rem;
        font-weight: 200;
        padding: 1rem;
    }
    &__loginCheckButtons{
        display: flex;
    }

    // YOUR LISTINGS

    &__cardContainer{
        padding: 2rem 2rem 10rem 2rem;
        height: auto;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    }

    // END OF YOUR LISTINGS

    //TOP SECTION
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5rem;
    }
    &__imgContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img{
        width: 100px;
        height: 100px;
        background: url(../img/jacket.png) no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        border: 3px solid black;
        padding: 1rem;
    }
    &__change{
        width: 100px;
        height: 100px;        
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        border: 3px solid black;
        padding: 1rem;  
    }
    &__name{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    &__username{
        font-family: $primaryFont;
        font-size: 2.5rem;
        font-weight: 900;
    }
    &__editBtn{
        font-size: 2rem;
    }

    // EDIT DROPDOWN
    &__editDropdown{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__editDropdownBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $primaryFont;
        font-size: 1.5rem;
        font-weight: 900;
        margin: 0 !important;
        background: none;
        outline: none;
        border: none;
    }
    &__editDropdown:hover .editDropdown{
        display: flex;
    }
    &__editDropdownArrow{
        font-size: 1.5rem;
        padding-left: 0.5rem;
    }

    //LISTINGS SECTION
    &__listingsAdd{
        display: flex;
    }
    &__listingsAddBtn{
        cursor: pointer;
        @include btn;
        background: $yellow;
    }
    &__listingsAddBtn:hover{
        transform: scale(1.1);
        transition: 0.1s;
    }
    &__listingsAddBtn:active{
        transform: scale(1);
        transition: 0.1s;
    }
    &__listingsTitle{
        font-size: 3rem;
        font-family: $primaryFont;
        font-weight: 900;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

//EDIT DROPDOWN MENU

.editDropdown{
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white;
    padding: 1rem;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 200px;
    display: none;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    -webkit-box-shadow: 5px 4px 13px -1px #626262; 
    box-shadow: 5px 4px 13px -1px #626262;
    z-index: 2;
    &__ul{
        list-style-type: none;
        margin: 0;
    }
}
.editAccountOption{
    width: 200px;
    cursor: pointer;
    background: none;
    border-bottom: 1px solid rgb(214, 214, 214);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-family: $primaryFont;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 1rem 0rem 1rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.editAccountOptionLast{
    width: 200px;
    cursor: pointer;
    background: none;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-family: $primaryFont;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 1rem 0rem 1rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.editAccountOption:hover, .editAccountOptionLast:hover{
    color: $blue;
}

.fa-gear{
    display: none;
}

@media (max-width: $tablet-max){
    .account__editTxt{
        display: none;
    }
    .account__editDropdownBtn{
        display: flex;
    }
    .fa-gear{
        display: block;
        height: 2rem;
    }
    .account__listingsAdd{
        justify-content: center;
        padding: 1rem 0rem 1rem 0rem;
    }
    .account__listingsTitle{
        text-align: center;
    }
}