@import 'var';
@import 'mixins';

.shop{
    min-height: 85vh;
    display: flex;
    justify-content: center;
}
.shop-inner{
    width: 80vw;
    display: flex;
    flex-direction: column;
}
.shop-tools{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list-btn{
        @include btn;
        margin-left: 2rem;
        height: 4rem;
        width: 12rem;
        background-color: $yellow;
    }
    &__sort-btn{
        @include btn;
        margin-right: 2rem;
        height: 4rem;
        width: fit-content;
        background-color: $yellow;
    }
    &__p{
        font-family: $primaryFont;
        font-weight: 800;
        font-size: 1.3rem;
        padding-right: 2rem;
    }
}
.card__container{
    min-height: 85vh;
    display: flex;
    flex-flow: row wrap;
}
.card{

    padding: 4rem 0rem 2rem 2rem;
    width: 300px;

    &__imgContainer{
        height: 350px;
        background: url(../img/jeans.png) no-repeat;
        background-size: cover;
        background-position: center;
        border: 3px solid black;
    }
    // &__details{
    //     border: 2px solid black;
    // }
    &__title{
        font-family: $primaryFont;
        font-size: 1.7rem;
        font-weight: 400;
        padding: 0.25rem;
    }
    &__price{
        font-family: $primaryFont;
        font-size: 1.7rem;
        font-weight: 900;
        padding: 0.25rem 0.25rem 1.5rem 0.25rem;
    }
    &__tags{
        display: flex;
    }
    &__tag{
        margin-right: 0.25rem;
        background-color: $yellow;
        width: max-content;
        font-size: 1.3rem;
        font-family: $primaryFont;
        font-weight: 200;
        font-style: italic;
        border: 1px solid black;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        border-radius: 20px;
        text-transform: uppercase;
    }
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}