@import 'var';
@import 'mixins';

.shop-container{
    height: 85vh;
    width: 100vw;
    display: flex;
}
.shop{
    min-height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}
.shop-left{
    display: flex;
    flex-direction: column;
    width: 15rem;
    padding-top: 8rem;
    &__btn{
        @include btn;
        margin-bottom: 0.5rem;
        background-color: $yellow;
        width: 80%;
        border-left: none;
        padding: 1.5rem;
        text-align: right;
        transition-duration: 0.2s;
        &:hover{
            width: 120%;
            transition-duration: 0.2s;
        }
        &--blue{
            background-color: $blue;
            color: $yellow;
            width: 100%;
        }
    }
}
.shop-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 15rem;
    padding-top: 8rem;
    &__btn{
        @include btn;
        margin-bottom: 0.5rem;
        background-color: $yellow;
        width: 80%;
        border-right: none;
        padding: 1.5rem;
        transition-duration: 0.2s;
        &:hover{
            width: 120%;
            transition-duration: 0.2s;
        }
        &--blue{
            background-color: $blue;
            color: $yellow;
            width: 100%;
        }
    }
}
.shop-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 4rem 0 4rem;
}
.shop-tools{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list-btn{
        @include btn;
        margin-left: 2rem;
        height: 4rem;
        width: 12rem;
        background-color: $yellow;
        &:hover{
            transform: scale(1.1)
        }
    }
    &__sort-btn{
        @include btn;
        margin-right: 2rem;
        height: 4rem;
        width: fit-content;
        background-color: $yellow;
        &:hover{
            transform: scale(1.1)
        }
    }
    &__p{
        font-family: $primaryFont;
        font-weight: 800;
        font-size: 1.3rem;
        padding-right: 2rem;
    }
}
.card__container{
    min-height: 85vh;
    display: flex;
    flex-flow: row wrap;
}
.card{

    padding: 4rem 0rem 2rem 2rem;
    width: 300px;
    border: none;

    &__imgContainer{
        height: 350px;
        background: url(../img/jeans.png) no-repeat;
        background-size: cover;
        background-position: center;
        border: 4px solid black;
    }
    // &__details{
    //     border: 2px solid black;
    // }
    &__title{
        font-family: $primaryFont;
        font-size: 1.7rem;
        font-weight: 400;
        padding: 0.25rem;
    }
    &__price{
        font-family: $primaryFont;
        font-size: 1.7rem;
        font-weight: 900;
        padding: 0.25rem 0.25rem 1.5rem 0.25rem;
    }
    &__tags{
        display: flex;
    }
    &__tag{
        margin-right: 0.25rem;
        background-color: $yellow;
        width: max-content;
        font-size: 1.3rem;
        font-family: $primaryFont;
        font-weight: 200;
        font-style: italic;
        border: 1px solid black;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        border-radius: 20px;
        text-transform: uppercase;
    }
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories-container{
    position: absolute;
    display: flex;
    align-items: flex-end;
    height: 85vh;
    width: 50rem;
    transform: translateX(-50rem);
    z-index: 10;
    transition-duration: 0.5s;
}
.categories{
    height: 100%;
    width: 50rem;
    background: $blue;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 4rem 2rem;
    &-header{
        display: flex;
        justify-content: space-between;
        &__heading{
            font-family: $primaryFont;
            font-weight: 800;
            font-size: 4.8rem;
            color: $yellow;
        }
    }
    &-body{
        display: flex;
        width: 100%;
        height: fit-content;
    }
    &-menu{
        display: flex;
        margin-right: 2rem;
        &__ul{
            list-style: none;
            font-size: 1.6rem;
            color: $yellow;
            padding: 4rem 0 0 0;
            &--right{
                position: absolute;
                display: none;
            }
            &--bottoms{
                transform: translateY(6rem);
            }
            &--hats{
                transform: translateY(12rem);
            }
            &--shoes{
                transform: translateY(18rem);
            }
            &--dresses{
                transform: translateY(24rem);
            }
            &--accessories{
                transform: translateY(30rem);
            }
        }
        &__li{
            width: 15rem;
            border: 3px $yellow solid;
            padding: 1rem;
            margin-bottom: 1rem;
            text-align: center;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
        }
        &--right{
            display: flex;
            flex-direction: column;
        }
    }
}
.btn-active{
    background: $yellow;
    color: $blue;
}