// =============
// COLORS
// =============

$yellow: #FFCB2F;
$red: #FF4022;
$blue: #0058D2;
$pink: #FDBBCD;
$green: #00CE7C;

// =============
// TEXT
// =============

$primaryFont: 'Libre Franklin', sans-serif;
