// =============
// COLORS
// =============

$yellow: #FFCB2F;
$red: #FF4022;
$blue: #0058D2;
$pink: #FDBBCD;
$green: #00CE7C;

// =============
// TEXT
// =============

$primaryFont: 'Libre Franklin', sans-serif;


// =============
// MEDIA QUERIES
// =============

$mobile-min: 300px;
$mobile-max: 425px;
$tablet-min: 426px;
$tablet-max: 1023px;


