@import 'landing';
@import 'footer';
@import 'var';
@import 'mixins';
@import 'landing';
@import 'nav';
@import 'signup';
@import 'shop';
@import 'contact';
@import 'about';
@import 'mywardrobe';
@import 'modals';
@import 'modalUniversal';
@import 'listItemModal';
@import 'loginModal';
@import 'clothingItemModal';
@import 'card';
@import 'deleteModal';
@import 'logoutModal';
@import 'changeAccountModals';
@import 'comments';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    text-decoration: none;
}

html{
    font-size: 65.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}