@import 'landing';
@import 'footer';
@import 'var';
@import 'mixins';
@import 'landing';
@import 'nav';
@import 'signup';
@import 'shop';
@import 'about';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html{
    font-size: 65.5%;
    scroll-behavior: smooth;
}